html{
    background-color: rgba(245, 255, 232, 0.84);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color:rgba(31, 44, 15, 0.84);
    font-size: 3rem;
}
form{
    background-color:rgb(255, 255, 255);
    color:rgba(31, 44, 15, 0.97);
    border:1px solid rgba(31, 44, 15, 0.97);
}
div{
    margin-bottom:20px;
}
.tt{
    text-align: left;
    color:rgba(84, 30, 18, 0.97);
}
#lc{
    color:rgba(86, 36, 187, 0.97);
}
#bs{
    color:rgba(121, 102, 52, 0.97);
}
#xac_nhan{
    background-color: rgb(243, 228, 199);
}
footer{
    text-align: center;
    color:rgb(94, 93, 96);
    border:1px solid rgba(31, 44, 15, 0.97);
}
